<template>
    <v-list dense>
        <template v-for="item in items">
            <v-layout
            v-if="item.heading"
            :key="item.heading"
            row
            align-center
            >
            <v-flex xs6>
                <v-subheader v-if="item.heading">
                {{ item.heading }}
                </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
                <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
            </v-layout>
            <v-list-group
            v-else-if="item.children"
            v-model="item.model"
            :key="item.text"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
            >
            <v-list-tile slot="activator">
                <v-list-tile-content>
                <v-list-tile-title>
                    {{ item.text }}
                </v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
                v-for="(child, i) in item.children"
                :key="i"
            >
                <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                <v-list-tile-title>
                    {{ child.text }}
                </v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            </v-list-group>
            <v-list-tile v-else :key="item.text">
            <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title @click="goTo(item.text)">
                {{ item.title }}
                </v-list-tile-title>
            </v-list-tile-content>
            </v-list-tile>
        </template>
    </v-list> 
</template>

<script>
export default {
  name: "SidebarMenu",
  data() {
    return {
      items: []
    };
  },
  methods: {
    goTo(name) {
      this.$router.push({ name: name });
    }
  },
  created() {
    this.$router.options.routes.forEach(route => {
      console.log(route);
      if (route.path === "" && route.children.length > 0) {
        route.children.forEach(route => {
          this.items.push({
            text: route.name,
            title: route.meta.title,
            path: route.path,
            icon: route.meta.icon
          });
        });
      }
    });
  }
};
</script>

<style>
.v-list__tile__title {
  cursor: pointer;
}
</style>
