<template>
    <div class="site-index">

        <div class="jumbotron">
            <h1>Congratulations!!!</h1>
        </div>

        <div class="body-content">          
            <p>Hello World!!!</p>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
