<template>       
  <v-layout row wrap>         
    
    <v-flex xs12 sm5 md4>
      <v-card>
        <v-toolbar color="indigo" dark>          

          <v-toolbar-title>Inbox</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-fab-transition>
              <v-btn
                v-show="!hidden"
                color="pink"
                fab
                dark
                small
                absolute
                bottom
                right
                v-on:click="dialog = true"
              >
                <v-icon>add</v-icon>
              </v-btn>
            </v-fab-transition>
        </v-toolbar>

        <v-list two-line>
          <template v-for="(item, index) in items.posts">
            <v-subheader
              v-if="item.header"
              :key="item.id"
            >
              {{ item.header }}
            </v-subheader>

            <v-divider
              v-else-if="item.divider"
              :inset="item.inset"
              :key="index"
            ></v-divider>

            <v-list-tile
              v-else
              :key="item.id"
            >
              <v-list-tile-content>
                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                <v-list-tile-sub-title v-html="item.body"></v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon v-on:click="del(item.id)">delete</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </template>
        </v-list>
        <v-card-text>
            
        </v-card-text>
      </v-card>
    </v-flex>   
    <v-dialog v-model="dialog" persistent max-width="500px">      
      <v-card>
        <v-card-title>
          <span class="headline">Add post</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>              
              <v-flex xs12>
                <v-text-field v-model="create.title" label="Title" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="create.body" label="Body" required></v-text-field>
              </v-flex>              
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="dialog = false">Закрыть</v-btn>
          <v-btn color="blue darken-1" flat v-on:click="submit">Сохранить</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout> 
</template>

<script>
export default {
  data() {
    return {
      msg: "Posts page",
      items: this.$store.state.posts,
      create: {
        title: null,
        body: null,
        status: 1
      },
      hidden: false,
      dialog: false
    };
  },
  methods: {
    submit() {
      this.$store.dispatch("posts/create", this.create);
      if (this.$store.state.response_code == null) {
        this.dialog = false;
      }
    },
    del(id) {
      this.$store.dispatch("posts/del", id);
    }
  },
  mounted: function() {
    this.$store.dispatch("posts/all");
  }
};
</script>
