<template>
    <div>
        <v-app>
      
        <v-navigation-drawer
          :clipped="$vuetify.breakpoint.lgAndUp"
          v-model="drawer"
          fixed
          app
        >
          <v-card>
            <v-toolbar flat class="transparent">
              <v-list class="pa-0">
                <v-list-tile avatar>
                  <v-list-tile-avatar>
                    
                  </v-list-tile-avatar>

                  <v-list-tile-content>
                    <v-list-tile-title>{{ userName }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
              
            </v-toolbar>
          </v-card>
          <SidebarMenu></SidebarMenu>       
        </v-navigation-drawer>
      
      <v-toolbar dark fixed app color="indigo" :clipped-left="$vuetify.breakpoint.lgAndUp">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title @click="goTo('index')">Application</v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container grid-list-xl text-xs-center>
          <router-view></router-view>
        </v-container>
      </v-content>
      <v-footer app></v-footer>
    </v-app>
    </div>
</template>

<script>
import SidebarMenu from "../components/SidebarMenu.vue";

export default {
  data() {
    return {
      drawer: null,
      userName: "Test"
    };
  },
  components: {
    SidebarMenu
  },
  methods: {
    goTo(name) {
      this.$router.push({ name: name });
    }
  }
};
</script>