<template>    
    <v-app>        
        <v-content>            
            <v-container grid-list-xl text-xs-center>
                <router-view></router-view>
            </v-container>
        </v-content>
    </v-app>    
</template>

<script>
export default {
  data() {
    return {
      drawer: null,
      userName: "Test"
    };
  },
  components: {},
  methods: {}
};
</script>